#page-header.about-header{
    background: url(../assets/about/banner.png);
    background-position: center;
    background-size: cover;
}

#about-head img{
    width: 50%;
    height: auto;
}
#about-head{
    display: flex;
    align-items: center;
}
#about-head div{
    padding-left: 40px;
}
#about-app{
    text-align:center;
}
#about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}
#about-app .video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

@media screen and (max-width:477px){
    #about-head {
        flex-direction: column;
    }
    #about-head img {
        width: 100%;
        margin-bottom: 20px;
    }
    #about-head div {
        padding-left: 0px;
    }
    #about-app .video {
        width: 100%;
    }
}