#page-header{
    background-image: url(../assets/banner/b1.jpg);
    background-size: cover;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 14px;
}
#page-header h2,
#page-header p{
    color: white;
}

#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}
#pagination a i{
    font-size: 16px;
    font-weight: 600;
}